body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	background-image: url(/images/bkgd.gif);
}
p, td {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.style1 {color: #FF0000}
.style2 {color: #000000}
.style3 {	color: #0063B6;
	font-weight: bold;
}
input,select,option,textarea {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
h1 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: none;
	font-weight:bold;
}
.copyright {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	line-height:14px;
}
a.whitebold:link, a.whitebold:active, a.whitebold:visited {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: underline;
	font-weight:bold;
	line-height:14px;
}
a.whitebold:hover {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	font-weight:bold;
	line-height:14px;
}

.boldblack {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.goldlist, a.gold:active, a.gold:link, a.gold:visited {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #996633;
	line-height:20px;
	text-decoration: none;
}
a.gold:hover {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #996633;
	line-height:20px;
	text-decoration: underline;
}
.whitelist {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	line-height:15px;
	text-decoration: none;
}